.top {
    border: 2px solid indianred;
    background: crimson;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    height: 50px;
    width: 50px;
}
.right {
    border: 2px solid darkolivegreen;
    background: lightseagreen;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}
.bottom {
    border: 2px solid rgb(30, 255, 0);
    border-radius: 5ex;
    background: rebeccapurple;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}
.left {
    border: 2px solid ghostwhite;
    background: mediumseagreen;
    margin-right: auto;
    margin-left: 10px;
    height: 50px;
    width: 50px;

}
.center {
    border: 2px solid lightslategray;
    background: lightsteelblue;
    margin: auto;
    height: 50px;
    width: 50px;
}
