header {
    background-color: seagreen ;
    height: 100px;
}
.contenu {
    background-color: darkgreen;
    height: 500px;
    float: left;
    width: 80%;
}
.side {
    background-color: darkseagreen;
    height: 500px;
    float: left;
    width: 20%;
}
.footer {
    background-color: mediumseagreen;
    height: 150px;
    clear: both;
}