p {
    border: 2px solid black;
    width: 200px;
    position: relative;
    left: 50px;
    top: 50px;
}
.fix {
    border: 2px solid crimson;
    width: 200px;
    position: fixed;
    left: 58px;
    top: 45px;
    background-color: indianred;
    color: silver;
}