*p {
    color: darkcyan;
}

h2.p {
    background-color: steelblue;
    }
a p {
    background-color: limegreen;
    }
a section {
    background-color: indigo;
    }
section.p {
    background-color: indianred;
    }