p {
    background-color: darkcyan;
}

h1, h2, h3,h4, h5 p {
    background-color: steelblue;
    }
a p {
    background-color: limegreen;
    }
a section {
    background-color: indigo;
    }
section.p {
    background-color: indianred;
    }